<a href="https://colab.research.google.com/github/Kriban/K_MEANS_TITANIC/blob/master/K_MEANS_TITANIC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd

In [0]:
# will have to upload the data to colab files every time 
df = pd.read_excel('./titanic.xls')

# Dropping excess columns from this data set
# Why?
# Extra features(columns) are not required and too many features can
# lead to incorrect results
df.drop(['body','name'], 1, inplace=True)

# converting to numeric
# Why?
# The operations are mathematical so they need numbers
df.convert_objects(convert_numeric=True)

# filling the N/A with 0
# Why?
# The operations are mathematical so they need numbers
df.fillna(0, inplace=True)
# print(df.head())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if sys.path[0] == '':

In [0]:
def handle_non_numerical_data(df):
  columns = df.columns.values
  for column in columns:
    text_digit_vals = {}
    def convert_to_int(val):
      return text_digit_vals[val]

    # If it is not an int 64 or float64
    if df[column].dtype != np.int64 and df[column].dtype != np.float64:
      # take the values of the column and add them to a list
      # Before -> 0: 'male'
      # after -> ['male']
      column_contents = df[column].values.tolist()
      # Using a set to remove duplicates
      unique_elements = set(column_contents)
      x = 0
      # Creats the dictionary of unique values exp: "Female" = 0, "Male" = 1 
      for unique in unique_elements:
        if unique not in text_digit_vals:
          text_digit_vals[unique] = x
          x+=1

      # Maps data frame column to the value saved in the dict
      df[column] = list(map(convert_to_int, df[column]))
  return df

df = handle_non_numerical_data(df)
# print(df.head())

In [0]:
# Training set without the survived column
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
print(X)
# survived colum to check accuracy
y = np.array(df['survived'])

clf = KMeans(n_clusters=2)
clf.fit(X)

[[-1.54609786  1.34499549  0.29131302 ...  0.60334283 -0.50108794
   0.85201251]
 [-1.54609786 -0.74349692 -1.30576934 ...  0.60334283 -0.3886181
   0.10198385]
 [-1.54609786  1.34499549 -1.24416265 ...  0.60334283 -0.61355778
   0.10198385]
 ...
 [ 0.84191642 -0.74349692  0.14913935 ... -0.90963756 -0.61355778
  -0.87882286]
 [ 0.84191642 -0.74349692  0.17757408 ... -0.90963756 -0.61355778
  -0.87882286]
 [ 0.84191642 -0.74349692  0.29131302 ...  0.60334283 -0.61355778
  -0.87882286]]

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [0]:
correct = 0
for i in range(len(X)):
  predict_me = np.array(X[i].astype(float))
  predict_me = predict_me.reshape(-1, len(predict_me))
  prediction = clf.predict(predict_me)
  if prediction[0] == y[i]:
    correct +=1
    
print(correct/len(X))

0.7257448433919023